<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <div class="w-25">
            <div class="mb-3 d-flex align-items-center">
                <label for="operadorA" class="form-label me-2 text-nowrap"> Operador A</label>
                <input type="number" class="form-control text-center" id="operadorA" [(ngModel)]="operadorA"/>
            </div>
            <div class="mb-3 d-flex align-items-center">
                <label for="operadorB" class="form-label me-2 text-nowrap"> Operador B</label>
                <input type="number" class="form-control text-center" id="operadorA" [(ngModel)]="operadorB"/>
            </div>
            <div class="container mt-5 text-center">
                <button class="btn btn-primary mb-3 w-100" (click)="calcular()">
                    Sumar
                </button>
            </div>
        </div>
    </div>
</div>
