<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/inicio">Mi App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/inicio']" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/servicios" routerLinkActive="active">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacto" routerLinkActive="active">Contacto</a>
        </li>
        <!-- Menú desplegable Taller -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Taller Udemy
          </a>
          <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/localReference" routerLinkActive="active">Local Reference</a></li>
            <li><a class="dropdown-item" routerLink="/for" routerLinkActive="active">Directiva &#64;for en Angular</a></li>
            <li><a class="dropdown-item" routerLink="/padre" routerLinkActive="active">Comunicacion de componentes</a></li>
            <li><a class="dropdown-item" routerLink="/calculadora" routerLinkActive="active">Calculadora</a></li>
            <li><a class="dropdown-item" routerLink="/ViewChild" routerLinkActive="active">Decorador ViewChild</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>